@import "tailwindcss";

@config "../../tailwind.config.ts";

@layer base {
}

@layer utilities {
}

html {
  display: flex;
  height: 100vh;
  background-color: #4299e1;
  background-image: url("/images/bg_720.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

body {
  flex: 1;
  display: flex;
  padding: env(safe-area-inset-top, 1rem) env(safe-area-inset-right, 1rem)
    env(safe-area-inset-bottom, 1rem) env(safe-area-inset-left, 1rem);
}

@media (min-width: 720px) {
  html {
    background-image: url("/images/bg_1168.jpg");
  }
}
@media (min-width: 1168px) {
  html {
    background-image: url("/images/bg_1543.jpg");
  }
}
@media (min-width: 1543px) {
  html {
    background-image: url("/images/bg_1855.jpg");
  }
}
@media (min-width: 1855px) {
  html {
    background-image: url("/images/bg.jpg");
  }
}
