# breaks dependabot :(
# engine-strict=true

# Suppress noise
audit=false
fund=false
update-notifier=false

# Look, if we don't trust out dependencies what can we even do about it anyway?
dangerously-allow-all-scripts=true