app = "thisishugo"

primary_region = "lhr"

[http_service]
  internal_port = 3000
  force_https = true
  auto_start_machines = true
  auto_stop_machines = "stop"
  min_machines_running = 1

  [http_service.concurrency]
    type = "requests"
    soft_limit = 5
    hard_limit = 10

  [[http_service.checks]]
    interval = "30s"
    timeout = "5s"
    method = "GET"
    path = "/"
