:global {
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  @tailwind screens;

  html {
    height: 100%;
  }
  body {
    height: 100%;
    background-color: #4299e1;
  }
  #__next {
    height: 100%;
  }
  .bg-img {
    background-image: url("../images/bg.jpg");
    background-size: cover;
  }
}
