@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #4299e1;
  display: flex;
}

.bg-img {
  background-image: url("/images/bg_720.jpg");
  background-size: cover;
}

@media (min-width: 720px) {
  .bg-img {
    background-image: url("/images/bg_1168.jpg");
  }
}
@media (min-width: 1168px) {
  .bg-img {
    background-image: url("/images/bg_1543.jpg");
  }
}
@media (min-width: 1543px) {
  .bg-img {
    background-image: url("/images/bg_1855.jpg");
  }
}
@media (min-width: 1855px) {
  .bg-img {
    background-image: url("/images/bg.jpg");
  }
}
