@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #4299e1;
  display: flex;
  padding: env(safe-area-inset-top, 1rem) env(safe-area-inset-right, 1rem)
    env(safe-area-inset-bottom, 1rem) env(safe-area-inset-left, 1rem);
  background-image: url("/images/bg_720.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 720px) {
  body {
    background-image: url("/images/bg_1168.jpg");
  }
}
@media (min-width: 1168px) {
  body {
    background-image: url("/images/bg_1543.jpg");
  }
}
@media (min-width: 1543px) {
  body {
    background-image: url("/images/bg_1855.jpg");
  }
}
@media (min-width: 1855px) {
  body {
    background-image: url("/images/bg.jpg");
  }
}
