name: Build

on:
  pull_request_target:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: docker/setup-buildx-action@v3
      - uses: docker/build-push-action@v6
        name: Build
        with:
          push: false
          cache-from: type=gha
          cache-to: type=gha,mode=max
