name: Fly Deploy

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    name: Deploy to fly.io
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: docker/setup-buildx-action@v3
      - uses: superfly/flyctl-actions@1.5
        with:
          args: "deploy --local-only"
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
