name: Jest

on:
  pull_request_target:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      REMIX_TOKEN: ${{ secrets.REMIX_TOKEN }}

    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: actions/setup-node@v2.2.0
        with:
          node-version: "14"
      - run: npm ci
      - run: npm run build --if-present
      - run: npm test
