name: Prettier

on:
  pull_request_target:
    branches: [main]

jobs:
  prettier:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: actions/setup-node@v4.3.0
        with:
          node-version: "20"
      - run: npm ci
      - run: npm run prettier:check
