name: TypeScript

on:
  pull_request_target:
    branches: [main]

jobs:
  typescript:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: actions/setup-node@v6.2.0
        with:
          node-version: "24"
      - run: npm ci
      - run: npm run typecheck
